.card {
  background-color: #fff;
  flex-grow: 1;
  margin: 10px;
  max-width: 400px;
  width: 100%;
  transition: all 0.3s;
}

.text {
  color: #434343;
  padding: 10px;
  position: relative;
}

.text h2 {
  font-size: 16px;
}

.text a {
  color: #2b72dd;
  font-weight: 700;
}

.textStarred {
  background-color: #fff5c3;
  color: #434343;
  padding: 10px;
  position: relative;
}

.textStarred h2 {
  font-size: 16px;
}

.textStarred a {
  color: #2b72dd;
  font-weight: 700;
}

.star {
  background: none;
  border: none;
  color: #434343;
  cursor: pointer;
  padding: 5px;
  font-size: 32px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
